In [31]:
import pandas as pd

In [32]:
dados = pd.read_csv('.\Dados\dados_unificados.csv')

In [33]:
dados.head(3)

,person_id,loan_id,cb_id,person_id.1,person_age,person_income,person_home_ownership,person_emp_length,loan_id.1,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_id.1,cb_person_default_on_file,cb_person_cred_hist_length
0,JAz2tRvQ-14cy,pjEu6snv-4t33,FIgNSkrG-wen7,JAz2tRvQ-14cy,NaN,41160.0,Rent,2.0,pjEu6snv-4t33,Debtconsolidation,A,6500.0,13.57,0.0,NaN,FIgNSkrG-wen7,Y,2
1,MZSefq9m-loYS,Mfn0Csx4-LGM3,QPDJUQfQ-DJqK,MZSefq9m-loYS,22.0,29000.0,Mortgage,5.0,Mfn0Csx4-LGM3,Debtconsolidation,B,9000.0,NaN,1.0,0.31,QPDJUQfQ-DJqK,N,4
2,cRItaaPB-pRvT,Ks4nz74P-z6Iq,hzAXqSDh-ay7Q,cRItaaPB-pRvT,31.0,19968.0,Rent,1.0,Ks4nz74P-z6Iq,Education,B,2500.0,9.62,1.0,0.13,hzAXqSDh-ay7Q,N,6

In [34]:
dados.drop(['person_id.1', 'loan_id.1', 'cb_id.1'], axis=1, inplace=True)
dados.head()

,person_id,loan_id,cb_id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,JAz2tRvQ-14cy,pjEu6snv-4t33,FIgNSkrG-wen7,NaN,41160.0,Rent,2.0,Debtconsolidation,A,6500.0,13.57,0.0,NaN,Y,2
1,MZSefq9m-loYS,Mfn0Csx4-LGM3,QPDJUQfQ-DJqK,22.0,29000.0,Mortgage,5.0,Debtconsolidation,B,9000.0,NaN,1.0,0.31,N,4
2,cRItaaPB-pRvT,Ks4nz74P-z6Iq,hzAXqSDh-ay7Q,31.0,19968.0,Rent,1.0,Education,B,2500.0,9.62,1.0,0.13,N,6
3,5jTDCfXS-zaAq,ZFlwW08i-I3Al,LiAivrS4-J5DE,29.0,73000.0,Rent,1.0,Homeimprovement,B,5000.0,12.42,0.0,NaN,NaN,11
4,Hbz9PtI3-tOFs,bFMFchcv-UwQW,PkBixMJ3-3bad,29.0,42000.0,Rent,4.0,Venture,G,1600.0,19.16,0.0,0.04,Y,6

In [38]:
dados.columns = ['pessoaID',
                 'solicitacaoID',
                 'historicoID',
                 'idadePessoa',
                 'salarioAnualPessoa',
                 'moradiaPessoa',
                 'tempoTrabalhoPessoa',
                 'motivoEmprestimo',
                 'pontuacaoEmprestimo',
                 'totalEmprestimo',
                 'taxaJuros',
                 'statusInadimplencia',
                 'comprometimentoRendaPorcentagem',
                 'pessoaInadimplente',
                 'tempoUltimaSolicitacaoCredito'
]

In [40]:
dados.head()

,pessoaID,solicitacaoID,historicoID,idadePessoa,salarioAnualPessoa,moradiaPessoa,tempoTrabalhoPessoa,motivoEmprestimo,pontuacaoEmprestimo,totalEmprestimo,taxaJuros,statusInadimplencia,comprometimentoRendaPorcentagem,pessoaInadimplente,tempoUltimaSolicitacaoCredito
0,JAz2tRvQ-14cy,pjEu6snv-4t33,FIgNSkrG-wen7,NaN,41160.0,Rent,2.0,Debtconsolidation,A,6500.0,13.57,0.0,NaN,Y,2
1,MZSefq9m-loYS,Mfn0Csx4-LGM3,QPDJUQfQ-DJqK,22.0,29000.0,Mortgage,5.0,Debtconsolidation,B,9000.0,NaN,1.0,0.31,N,4
2,cRItaaPB-pRvT,Ks4nz74P-z6Iq,hzAXqSDh-ay7Q,31.0,19968.0,Rent,1.0,Education,B,2500.0,9.62,1.0,0.13,N,6
3,5jTDCfXS-zaAq,ZFlwW08i-I3Al,LiAivrS4-J5DE,29.0,73000.0,Rent,1.0,Homeimprovement,B,5000.0,12.42,0.0,NaN,NaN,11
4,Hbz9PtI3-tOFs,bFMFchcv-UwQW,PkBixMJ3-3bad,29.0,42000.0,Rent,4.0,Venture,G,1600.0,19.16,0.0,0.04,Y,6